# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native builds
android/
ios/

# Environment variables
.env
.env.local
.env*.local

# SQLite databases
*.db
*.db-*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
